entsoe:
  enabled: true
  # apply for token here: https://transparency.entsoe.eu/content/static_content/download?path=/Static%20content/API-Token-Management.pdf
  #entsoe_api_key:
  image:
    repository: mtr.devops.telekom.de/caas/entsoe
    tag: 1.0.0
    pullPolicy: Always
  podSecurityContext:
    fsGroup: 1000
    supplementalGroups:
    - 1000
  # proxy settings for outside API requests to https://web-api.tp.entsoe.eu:443
  proxy:
    enabled: false
    #host: 10.0.0.1
    #port: 3128
    #protocol: http
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
    privileged: false
    readOnlyRootFilesystem: true
    runAsUser: 1000
    runAsGroup: 1000
  # hours back when entsoe metrics should collected
  # note: sometimes no real time data for Germany, must be at least one day back 
  start: 1
  end: 0

# sub chart config
# https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
grafana:
  adminPassword: prom-operator
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: Prometheus
        type: prometheus
        # SETME: service address of prometheus server
        url: http://carbon-prometheus-server
        access: proxy
        isDefault: true
  image:
    registry: mtr.devops.telekom.de
    repository: kubeprometheusstack/grafana
  persistence:
    inMemory:
      enabled: true
  testFramework:
    enabled: false
  rbac:
    namespaced: true
  initChownData:
    enabled: false
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default
  dashboardsConfigMaps:
    default: carbon-dashboards
  grafana.ini:
    analytics:
      check_for_updates: false
    users:
      auto_assign_org_role: Viewer
    auth:
      disable_login_form: false
    auth.anonymous:
      enabled: true
      org_role: Viewer

# https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml
prometheus:
  alertmanager:
    enabled: false
  configmapReload:
    prometheus:
      image:
        repository: mtr.devops.telekom.de/kubeprometheusstack/prometheus-config-reloader
        tag: v0.67.0
  image:
    repository: mtr.devops.telekom.de/kubeprometheusstack/prometheus
  kube-state-metrics:
    enabled: false
  prometheus-node-exporter:
    enabled: false
  prometheus-pushgateway:
    enabled: false
  serverFiles:
    prometheus.yml:
      scrape_configs:
        - job_name: 'entsoe-carbon-footprint'
          metrics_path: /metrics
          scrape_interval: 2m
          scrape_timeout: 30s
          static_configs:
            - targets:
                # SETME: service address of entsoe service (static)
                - entsoe-carbon-footprint:80
  releaseNamespace: true
